/SakuraFrpLauncher/SakuraFrpLauncher.vcxproj.user
/SakuraFrpLauncher/Debug
/SakuraFrpLauncher/GeneratedFiles
/SakuraFrpLauncher/Release
/SakuraFrpLauncher.sdf
/SakuraFrpLauncher.v12.suo
/SakuraFrpLauncher.opensdf
/SakuraFrpLauncher/SakuraFrpLauncher.aps
/SakuraFrpLauncher/SakuraFrpLauncher.pro.user
/QT_Build
